.timer { 
    font-size: 60px;
    margin-left: 700px;
}
input{
    padding: 205px;

}
button { 
    padding-top: 50px;
    padding-left: 150px   
    
}
.bit1 {
    margin-left: 500px;
}
input {
    margin-left: 500px;
}